<%= form_for(@office_blog) do |f| %>
  <% if @office_blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@office_blog.errors.count, "error") %> prohibited this office_blog from being saved:</h2>

      <ul>
      <% @office_blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
